html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-feature-settings: "onum" 1;
  font-feature-settings: "onum" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
